.item{
  width: 340px;
}
.item img{
  width: 280px;
}
.item p{
  margin: 6px 0;
}
.item-price{  
  display: flex;
  gap: 20px;
}
.item-price-new{
  color: #374151;
  font-size: 18px;
  font-weight: 600;
}
.item-price-old{
  color: #8c8c8c;
  font-size: 18px;
  font-weight: 500;
  text-decoration: line-through;
}
.item:hover{
  transform: scale(1.05);
  transition: 0.6s;
}
@media(max-width:1280px){
  .item{
    width: 250px;
    font-size: 20px;
  }
  .item img{
    width: 220px; 
  }
  .item-price-old{
    font-size: 14px;
  }
}
@media(max-width:1024px){
  .item{
    width: 220px;
    font-size: 16px;
  }
  .item img{
    width: 180px; 
  }
  .item-price-old{
    font-size: 12px;
  }
}
@media(max-width:800px){
  .item{
    width: 150px;
    font-size: 15px;
  }
  .item img{
    width: 120px; 
  }
  .item-price-old{
    font-size: 12px;
  }
}
@media(max-width:500px){
  .item{
    width: 100px;
    font-size: 12px;
  }
  .item img{
    width: 100px; 
  }
  .item-price-old{
    font-size: 10px;
  }
}